body {
  margin: auto 2em;
  text-align: center;
  font-size: 1.8em;
  font-family: monospace;
  line-height: 2.5em;
  text-shadow: 25px 25px 0 indigo;
  background: blueviolet;
  color: white;

}

img {
  width: 60%;
}
